body {
  /* background-image: url("https://cdn.hipwallpaper.com/i/60/22/LeAXGm.jpg"); */
  background-color: black;
  border: 3px solid whitesmoke;
  margin: 30px;
}

#images {
  margin: auto;
  position: relative;
}
.bodytext1 {
  color: cyan;
  text-indent: 10px;
}
.bodytext2 {
  color: yellow;
  text-indent: 10px;
}
.bodytext3 {
  color: red;
  text-indent: 10px;
}
.myheading {
  text-align: center;
  text-decoration: underline;
  color: whitesmoke;
  text-shadow: 2px 1px 20px yellow;
  letter-spacing: 2px;
  font-style: italic;
  font-size: 50px;
  transition: transform 0.3s;
}
img {
  width: 200px;
  height: 150px;
  /* margin: 5px; */
  margin-left: 20px;
  transition: transform 0.3s;
}
.myheading:hover {
  transform: scale(1.2);
}
img:hover {
  transform: scale(1.1);
}
